section.container
    div
        app-logo
        h1.title nuxttest
        h2.subtitle Nuxt.js project
        .links
            a.button--green(
            href="https://nuxtjs.org/"
            target="_blank") Documentation
            a.button--grey(
            href="https://github.com/nuxt/nuxt.js"
            target="_blank") GitHub

        slick(
        ref="slick"
        v-bind:options="slickOptions"
        v-on:afterChange="handleAfterChange"
        v-on:beforeChange="handleBeforeChange"
        v-on:breakpoint="handleBreakpoint"
        v-on:destroy="handleDestroy"
        v-on:edge="handleEdge"
        v-on:init="handleInit"
        v-on:reInit="handleReInit"
        v-on:setPosition="handleSetPosition"
        v-on:swipe="handleSwipe"
        v-on:lazyLoaded="handleLazyLoaded"
        v-on:lazyLoadError="handleLazeLoadError"
        )
            a(href="http://placehold.it/2000x1000")
                img(src="http://placehold.it/2000x1000")
            a(href="http://placehold.it/2000x1000")
                img(src="http://placehold.it/2000x1000")
            a(href="http://placehold.it/2000x1000")
                img(src="http://placehold.it/2000x1000")
            a(href="http://placehold.it/2000x1000")
                img(src="http://placehold.it/2000x1000")
            a(href="http://placehold.it/2000x1000")
                img(src="http://placehold.it/2000x1000")